/*-- scss:defaults --*/



/*-- scss:rules --*/
.cell-output {
    font-family: $font-family-sans-serif;
    font-size: large
}

.plot {
    font-family: $font-family-sans-serif;
    font-size: small
}